div.slide-right-drawer {
  margin: 0;
  max-width: none;
  overflow: hidden;
  padding: 0;
}

div.slide-right-drawer button {
  float: right;
}

div.slide-right-drawer.btn button {
  border: unset;
}

div.slide-right-drawer.slide-right-enter {
  max-width: 0;
}

div.slide-right-drawer.slide-right-enter-active {
  max-width: 40px;
  transition: max-width 500ms ease-out, opacity 300ms ease-out;
}

div.slide-right-drawer.slide-right-exit {
  max-width: 40px;
}

div.slide-right-drawer.slide-right-exit-active {
  max-width: 0;
  transition: max-width 500ms ease-out, opacity 300ms ease-out;
}

div.slide-right-drawer.slide-right-exit-done {
  max-width: none;
}
