.menu {
  display: flex;
  flex-wrap: wrap;
}

.selector {
  margin-right: 10px;
}
.selector h3 {
  font-size: 18px;
}
.selector ul {
  display: flex;
  flex-wrap: wrap;
}

.selector li {
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
  text-align: center;
}
.selector .selected {
  background: #ccc;
}

.key ul { width: 300px; }
.key li { width: 50px; }

.scale ul { width: 400px; }
.scale li { width: 100px; }

.clips {
  display: flex;
  flex-wrap: wrap;
}
.clips .selector { width: 40px; }
.clips .selector li { width: 40px; }