/* @import '~bootstrap/scss/bootstrap.scss'; */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;

  /* Hide elements that flow outside the viewable space */
  overflow: hidden;

  /* Force the body to fill the entire screen */
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='text'],
textarea {
  display: block;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  width: 100%;
}

textarea {
  height: 70px;
}

input[type='range'][orient='vertical'] {
  appearance: slider-vertical; /* WebKit */
  height: 175px;
  padding: 0 5px;
  width: 8px;
  writing-mode: bt-lr; /* IE */
}

#root {
  margin-top: 0.75rem; /* var(--bs-gutter-x); */
}

.row {
  margin-bottom: 15px;
}

.clip {
  margin: 10px 0;
  text-align: center;
}

.transport {
  text-align: right;
}

.volume-slider {
  margin-top: 60px;
  min-height: 180.6px;
  padding: 0;
  text-align: center;
}

.ptn {
  display: flex;
}

.note-cell {
  border: 1px solid #000;
  height: 25px;
  width: 100px;
}

.note-on {
  background: #f00;
}

.note-off {
  background: #808080;
}

.offcanvas {
  margin-top: 0.75rem;
}

.toolbar.navbar {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.toolbar .navbar-text {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  padding-bottom: 0;
  padding-top: 0;
}

.toolbar .btn-sidebar-open,
.toolbar .btn-sidebar-close {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.toolbar .navbar-brand img,
.offcanvas .navbar-brand img {
  /* width: 32px; */
  height: 32px;
  margin-left: 0.5rem;
  margin-right: 0.75rem;
  vertical-align: middle;
}

.toolbar .form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}

.toolbar .form-check-input:checked {
  background-color: #fff;
  border-color: #fff;
}

.toolbar .form-check-input {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Style toaster like Darkly theme from <https://bootswatch.com/darkly/> */

.Toastify .Toastify__toast-container {
  /* Show toasts under NavBar */
  padding-top: 75px;
}

.Toastify .Toastify__toast-icon {
  /* Move the icon to the top */
  margin-bottom: auto;
}


.channel-state,
.channel-state div {
  margin: 0;
  padding: 0;
  text-align: center;
}

.channel-state .channel-state-error {
  color: #f00;
  height: 36px;
  width: 36px;
}
