body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='text'],
textarea {
  display: block;
  width: 100%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  height: 70px;
}

input[type='range'][orient='vertical'] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

#root {
  margin-top: 30px;
}

.row {
  margin-bottom: 15px;
}

.clip {
  margin: 10px 0;
}

.volumeSlider {
  padding-left: 43px;
  margin-top: 60px;
}

.ptn {
  display: flex;
}

.noteCel {
  width: 100px;
  height: 25px;
  border: 1px solid black;
}

.noteOn {
  background: red;
}

.noteOff {
  background: gray;
}
