/* @import '~bootstrap/scss/bootstrap.scss'; */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;

  /* Hide elements that flow outside the viewable space */
  overflow: hidden;

  /* Force the body to fill the entire screen */
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='text'],
textarea {
  display: block;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  width: 100%;
}

textarea {
  height: 70px;
}

input[type='range'][orient='vertical'] {
  appearance: slider-vertical; /* WebKit */
  height: 175px;
  padding: 0 5px;
  width: 8px;
  writing-mode: bt-lr; /* IE */
}

#root {
  margin-top: 0.75rem; /* var(--bs-gutter-x); */
}

.row {
  margin-bottom: 15px;
}

.clip {
  margin: 10px 0;
  text-align: center;
}

.transport {
  text-align: right;
}

.volume-slider {
  margin-top: 60px;
  min-height: 180.6px;
  padding: 0;
  text-align: center;
}

.ptn {
  display: flex;
}

.note-cell {
  border: 1px solid #000;
  height: 25px;
  width: 100px;
}

.note-on {
  background: #f00;
}

.note-off {
  background: #808080;
}

/* Style toaster like Darkly theme from <https://bootswatch.com/darkly/> */

.Toastify .Toastify__toast-container {
  /* Show toasts under NavBar */
  padding-top: 75px;
}

.Toastify .Toastify__toast-icon {
  /* Move the icon to the top */
  margin-bottom: auto;
}


.channel-state,
.channel-state div {
  margin: 0;
  padding: 0;
  text-align: center;
}

.channel-state .channel-state-error {
  color: #f00;
  height: 36px;
  width: 36px;
}
